.mainHeader {
    position: fixed;
    width: 100%;
    background-color: aliceblue;
    box-shadow: 0px 0px 15px #888888;
}

.heading {
    font-size: xx-large !important;
    font-family: 'Goudy Old Style';
    font-weight: bold;
}

#logo {
    border-radius: 150px;
    border-color: lightgray;
    border-width: 10px;
    filter: drop-shadow(10px 10px 10px rgb(80, 75, 71));    
}

.navHeader {
    margin-right: initial;
}

.rheader {
    padding: 10px;
}

.rheader:hover {
    background-color: black;
    border-radius: 11px;
    color: aliceblue;
    padding: 10px;

}